body{
    background-color: rgb(104, 104, 105);
}

nav {
    background-image: url("/pictures/sunset.jpg");



}

nav.li {
    color: rgb(43, 226, 98);
    text-align: right;
}

article {
    border: 2px solid greenyellow;
}

figure {

    max-width: 50%;  /* Need to fix this! */
    height: auto;
    border: 2px solid pink;
    filter: grayscale(100%)
    
}

figure:hover {
    filter: grayscale(0%)
}